#wrapper {
    max-width: 850px;
}

h1 {
    font-family: 'UnifrakturCook', cursive;
}

ul.gabenav {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
}

li.gabelist {
    float: left;
}

li.gabelist a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
}

li.gabelist a:hover:not(.active) {
    background-color: #ddd;
}

img.monster {
    margin: 10px;
}